.benefitsContainer span {
  background: var(--Linear, linear-gradient(269deg, #01ff94 0%, #16dab5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
