@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-green-linear {
    background: linear-gradient(269deg, #01ff94 0%, #16dab5 100%);
  }
  .custom-gray-700 {
    background-color: #4a5568;
  }
  .custom-size-5rem {
    @apply text-custom-size-5rem;
  }
}

@font-face {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  src: url("../../public/fonts/Inter.ttf") format("ttf");
}

@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("../../public/fonts/BebasNeue.ttf") format("ttf");
}

:root {
  --black: rgb(7, 8, 13);
  --topnavbar-bg-color: rgba(15, 18, 30, 0.5);
  --big-tag-shadow: 0px 2px 16px 0px rgba(144, 42, 210, 0.5);
  --button-shaddow: 0px 0px 30px 8px rgba(144, 42, 210, 0.5);
  --purple-linear: linear-gradient(265deg, #922bcc -1%, #7f22f6 104.81%);
  --linearGreen: linear-gradient(269deg, #01ff94 0%, #16dab5 100%);

  --Black2: rgb(15, 18, 30);
  --darkpurple: rgba(38, 10, 68, 1);
  --gray: rgba(65, 65, 65, 1);
  --gray-linear: rgba(159, 152, 167, 1);
  --line-color: rgba(255, 246, 254, 0.08);
  --p1: rgba(20, 23, 38, 1);
  --w16: rgba(250, 246, 255, 0.16);
  --w50: rgba(250, 246, 255, 0.5);

  font-size: 16px;
}

* {
  @apply box-border p-0 m-0;
}

html,
body {
  @apply bg-black bg-no-repeat bg-cover bg-fixed text-white;
  background-image: url("../../public/bg.svg");
  color: white;
}

a {
  @apply no-underline;
}

a:hover {
  @apply hover:text-emerald-400 transition-all ease-in duration-300;
}

h5,
.h5 {
  @apply overflow-hidden text-white truncate font-inter text-lg font-bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.0225rem;
}

h3,
.h3 {
  @apply font-inter sm:text-4xl text-3xl font-bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.045rem;
}

.bigbody {
  @apply text-white font-inter text-xl tracking-wide;
}

.buttonText {
  @apply font-inter text-lg font-bold;
}

.smallButton {
  @apply text-white flex p-2 justify-center items-center gap-2 rounded-full border border-solid border-emerald-500 bg-transparent font-inter font-semibold;

  &:hover {
    @apply bg-green-linear;
  }
}

ul {
  @apply pl-7 list-disc;
}

/* Scroll Bar ------------------------------------------- */
::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply inset-0 box-border custom-gray-700 rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-linear rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-linearGreen;
}

/* Mobile Friendly -------------------------------------- */

.menuMobile {
  display: none;
}
